{% extends "./layout.html" %}

{% set footer_color = "blue" %}

{% block styles %}
    {{ super() }}
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        body {
        {# I know. *sigh* #} /**/
            display: flex;
            flex-direction: column;
        }

        main {
            flex-grow: 2;
            display: flex;
            flex-direction: column;
        }

        #form-section {
            flex-grow: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #room-code-input, #form-container {
            max-width: 450px;
            width: 100%;
            margin: 0;
        }

        .siimple-footer-link {
            color: white;
        }

        .siimple-footer-link:hover {
            color: rgba(255, 255, 255, 0.4) !important;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="siimple-content--fluid siimple--bg-primary siimple--py-5" id="form-section">
        <div id="form-container" class="siimple--display-inline-flex">
            <form action="{{ url_for("public.login") }}" method="post" class="siimple-form siimple--bg-light siimple--py-5 siimple--px-5 siimple--rounded"
                 id="create-quiz-form">
                {{ form.hidden_tag() }}
                <div class="siimple-form-title">Sign In</div>
                <div class="siimple-form-detail">Don't have an account? <a href="{{ url_for("public.register") }}"
                                                                           class="siimple-link">Register Here</a></div>
                <div class="siimple-form-field">
                    {{ form.username.label(class_="siimple-form-field-label") }}
                    {{ form.username(class_="siimple-input siimple-input--fluid siimple--bg-primary siimple--color-white", maxlength=25) }}
                </div>
                <div class="siimple-form-field">
                    {{ form.password.label(class_="siimple-form-field-label") }}
                    {{ form.password(class_="siimple-input siimple-input--fluid siimple--bg-primary siimple--color-white") }}
                </div>
                <div class="siimple-form-field">
                    <input type="submit"
                           class="siimple-btn siimple-btn--success siimple-btn--big siimple-btn--fluid"
                           value="Sign In"/>
                </div>
                <div id="room-code-status"
                     class="siimple-alert siimple-alert--error{% if form.errors|length == 0 %} siimple--display-none{% endif %}">
                    {{ form.errors.values()|first|first }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}