{% extends "./layout.html" %}

{% block styles %}
    {{ super() }}
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        body {
        {# I know. *sigh* #} /**/
            display: flex;
            flex-direction: column;
        }

        main {
            flex-grow: 2;
            display: flex;
            flex-direction: column;
        }

        #form-section {
            flex-grow: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #form-container {
            max-width: 450px;
            width: 100%;
            margin: 0;
        }

        textarea#description {
            resize: vertical;
        }

        .siimple-footer-link {
            color: white;
        }

        .siimple-footer-link:hover {
            color: rgba(255, 255, 255, 0.4) !important;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="siimple-content--fluid siimple--bg-primary siimple--py-5" id="form-section">
        <div id="form-container" class="siimple--display-inline-flex">
            <form action="{{ url_for("teacher.create") }}" method="post"
                  class="siimple-form siimple--bg-light siimple--py-5 siimple--px-5 siimple--rounded"
                  id="create-quiz-form">
                {{ form.hidden_tag() }}
                <div class="siimple-form-title">Create Quiz</div>
                <div class="siimple-form-field">
                    {{ form.title.label(class_="siimple-form-field-label") }}
                    {{ form.title(class_="siimple-input siimple-input--fluid siimple--bg-primary siimple--color-white", maxlength=25) }}
                </div>
                <div class="siimple-form-field">
                    {{ form.description.label(class_="siimple-form-field-label") }}
                    {{ form.description(class_="siimple-input siimple-input--fluid siimple--bg-primary siimple--color-white") }}
                </div>
                {{ form.shuffle_questions.label(class_="siimple-label") }}
                <div class="siimple-checkbox">
                    {{ form.shuffle_questions() }}
                    <label for="{{ form.shuffle_questions.id }}"></label>
                </div>
                {{ form.statistics_enabled.label(class_="siimple-label") }}
                <div class="siimple-checkbox">
                    {{ form.statistics_enabled() }}
                    <label for="{{ form.statistics_enabled.id }}"></label>
                </div>
                {{ form.public.label(class_="siimple-label") }}
                <div class="siimple-switch">
                    {{ form.public() }}
                    <label for="{{ form.public.id }}"></label>
                </div>
                <div class="siimple-form-field">
                    <input type="submit"
                           class="siimple-btn siimple-btn--success siimple-btn--big siimple-btn--fluid"
                           value="Create Quiz"/>
                </div>
                <div id="status"
                     class="siimple-alert siimple-alert--error{% if form.errors|length == 0 %} siimple--display-none{% endif %}">
                    {{ form.errors.values()|first|first }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}