{% extends "./layout.html" %}

{% set navbar_brand_hides = true %}
{% set noscript_can_close = true %}

{% block title %}OpenLearn | Dashboard{% endblock %}

{% block nav_items %}
    <a class="siimple-navbar-item" href="{{ url_for("public.logout") }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
    <a class="siimple-navbar-item" href="{{ url_for("student.join_room") }}"><i class="fas fa-users"></i> Join a
        Room</a>
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        body {
        {# I know. *sigh* #} /**/
            display: flex;
            flex-direction: column;
        }

        main {
            flex-grow: 2;
            display: flex;
            flex-direction: column;
        }

        .quiz-card {
            color: #dde5ee;
        }

        .quiz-card .siimple-card-body {
            height: 120px;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="siimple-content--extra-large siimple--my-4">
        <div class="siimple--py-1 siimple--px-5 siimple--bg-primary siimple--rounded"
             id="owned-quiz-container">
            <h3 class="siimple-h3 siimple--color-light">My Quizzes</h3>
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-card siimple-grid-col siimple-grid-col--4 siimple-grid-col--md-6 siimple-grid-col--xs-12 quiz-card">
                        <div class="siimple-card-header">
                            New Quiz
                        </div>
                        <div class="siimple-card-body">
                            Get started on a brand new quiz.
                        </div>
                        <div class="siimple-card-footer">
                            Begin
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}